include layout

section#two.wrapper.style2
    header.major
        h2 Værbitt
        p Atmospheric, heavy and cold extreme metal from Bergen, Norway
        p Værbitt is a relatively new band from Bergen, Norway, playing extreme metal inspired by bands such as Wolves in the Throne Room, Emperor, Weakling, Burzum, Enslaved and Isis. Classic black metal elements are mixed with inspiration from post-rock and doom metal to create vast musical landscapes of dark and cold moods. The Norwegian scenery is crucial inspiration to the music and lyrics, and Værbitt's songs make you feel small and perishable.
        p The band was formed in the summer of 2011 by Eirik Ramsøy (guitars/vocals), Tobias Rusås Olsen (drums), Stein Henrik Olaussen (guitars/vocals) og Bjørn Arild Mæland (bass). The former three had played together since 2007 in the metal bands Sludgefudge and Antares. Bjørn also played bass in Antares for some time, but was more known for playing bass in Nordavind, a folk-metal outfit from Stord. The four all wanted to do something new, something bigger and musically more ambitious than what their previous bands had been making. In a couple of months, the framework for the tracks «Mørke», «Frost» og «Vann» was created, as was the concept for the debut album. However, through incessant rehearsals and testing of new ideas, the songs were constantly evolving.
        p In august 2012, after submitting an application based on a demo of «Mørke», the band was given a grant from Erik Brødreskift's Memorial Fund (the organisation behind the Hole in the Sky festival) to record their debut album. At that point, the band had already talked to Herbrand Larsen about mixing and mastering the album, the songs were written, so finishing the album should be a breeze. The plan was to complete the album by the end of 2012. It didn't quite pan out like that.
        p Due to perfectionism combined with the band not having a rehearsal space or studio for some periods of time, the finishing of the album was postponed several times. By late 2013, most of the tracks were recorded, and the project was handed over to Herbrand Larsen for mixing. After another six months of exchanging test mixes, recording new tracks and changing arrangements, the album was finally completed last year.
        p
            | The result can be heard 
            a(href='/media') here
    .container
        .row
            .6u
                section.special
                    a.image.fit(href='/stein')
                        img(src='images/JHM_1056-X3.jpg', alt='')
                    h3 Stein
                    p Guitar and Vocals
            .6u
                section.special
                    a.image.fit(href='/eirik')
                        img(src='images/JHM_1071-X3.jpg', alt='')
                    h3 Eirik
                    p Guitar and Vocals
        .row
            .6u
                section.special
                    a.image.fit(href='/tomas')
                        img(src='images/JHM_1102-X3.jpg', alt='')
                    h3 Tomas
                    p Bass
            .6u
                section.special
                    a.image.fit(href='/matt')
                        img(src='images/JHM_1130-X3.jpg', alt='')
                    h3 Matt
                    p Guitar
            .row
                .6u
                    section.special
                        a.image.fit(href='/tobias')
                            img(src='images/JHM_1087-X3.jpg', alt='')
                        h3 Tobias
                        p Drums



include footer
