include layout

section#two.wrapper.style2
    header.major
        h2 Værbitt - Weathered
        p (Google Translate) Evocative, heavy and icy extreme metal. Weathered is a relatively new band from Bergen, and playing extreme metal inspired by bands like Wolves in the Throne Room, Weakling, Enslaved and Isis. Elements from classic black metal mixed with inspiration from post rock and doom, forming grand musical landscape with dark, cold and heavy atmosphere. The Norwegian nature is central to the inspiration and texts, and weathered songs make you feel small and corruptible.
    .container
        .row
            .6u
                section.special
                    a.image.fit(href='/stein')
                        img(src='images/JHM_1056-X3.jpg', alt='')
                    h3 Stein
                    p Guitar and Vocals
                    ul.actions
                        li
                            a.button.alt(href='/stein') Bio
            .6u
                section.special
                    a.image.fit(href='/eirik')
                        img(src='images/JHM_1071-X3.jpg', alt='')
                    h3 Eirik
                    p Guitar and Vocals
                    ul.actions
                        li
                            a.button.alt(href='/eirik') Bio
        .row
            .6u
                section.special
                    a.image.fit(href='/tomas')
                        img(src='images/JHM_1102-X3.jpg', alt='')
                    h3 Tomas
                    p Bass
                    ul.actions
                        li
                            a.button.alt(href='/tomas') Bio
            .6u
                section.special
                    a.image.fit(href='/matt')
                        img(src='images/JHM_1130-X3.jpg', alt='')
                    h3 Matt
                    p Guitar
                    ul.actions
                        li
                            a.button.alt(href='/matt') Bio
            .row
                .6u
                    section.special
                        a.image.fit(href='/tobias')
                            img(src='images/JHM_1087-X3.jpg', alt='')
                        h3 Tobias
                        p Drums
                        ul.actions
                            li
                                a.button.alt(href='/tobias') Bio



include footer
