include layout

section#two.wrapper.style2
    header.major
        h2 About værbitt
        p What's it all about?
    .container
        section.special
            p Description incoming
            p Værbitt has the following members:
            ul
                li
                    a(href='/eirik') Eirik
                li
                    a(href='/stein') Stein
                li
                    a(href='/tomas') Tomas
                li
                    a(href='/matt') Matt
                li
                    a(href='/tobias') Tobias



include footer
