include layout
section#two.wrapper.style2
    header.major
        h2 Concerts
        p Hear us live!
    .container
        section.special
            p No upcoming concerts. Please contact us for booking.
include footer
