include layout
section#two.wrapper.style2
    header.major
        h2 Concerts
        p Hear us live!
    .container
        section.special
            p Yeah right. Like this is ever gonna happen!
include footer
