include layout
section#two.wrapper.style2
    header.major
        h2 Contact
        p We would love to hear from you.
    .container
        section.special
            p Contact information coming soon.
include footer
