include layout
section#two.wrapper.style2
    header.major
        h2 Eirik
        p Guitar and Vocals
    .container
        section.special
            p Eirik. Bla bla.

include footer

                              