//
   Created by Tobias on 23.05.2015.

// Footer
footer#footer
    .container
        .row.double
            .6u
                .row.collapse-at-2
                    .6u
                        h3 News
                        ul.alt
                            li
                                a(href='/news1') We have a new web page!

            .6u
                h2 Follow Værbitt
                p Want more Værbitt content? Follow us on Facebook or Soundcloud by clicking the links below
                ul.icons
                    li
                        a.icon.fa-facebook(href='#')
                            span.label Facebook |
                    li
                        a.icon.fa-soundcloud(href='https://soundcloud.com/vaerbitt')
                            span.label Soundcloud
        ul.copyright
            li &copy; Værbitt. All rights reserved.
            li
                | Design:
                a(href='http://templated.co') TEMPLATED
            li
                | Images:
                a(href='http://www.jarlehm.com') Jarle H. Moe