include layout

script(src='javascripts/react/banner.js', type='text/jsx')
section(id="banner")

section#two.wrapper.style2
    header.major
        h2 Værbitts first studio album
        p Our debut album "Tid" is now officially released. Check the media session for a taste of the album.
        p Værbitt is also available on <a href="https://vaerbitt.bandcamp.com/releases">Band Camp</a>. You can listen - and download the entire album. You pick the price!
        p We are also available on <a href="https://open.spotify.com/album/5LIFK1htwQOsiYz25EZHwZ">Spotify</a>.
        p If you want to know more Værbitt updates, please check out our <a href="https://www.facebook.com/vaerbittband">facebook</a> page and our <a href="https://www.instagram.com/vaerbittband/">instagram</a> account.
    .container
        .row
            .6u
                section.special
                    a.image.fit(href='#')
                        img(src='images/JHM_1138-X3.jpg', alt='')
                    h3 "this is a phenomenal record. truly outstanding." - NorthwoodsBrewer502 (User @ BandCamp)
                    ul.actions
                        li
                            a.button.alt(href='/discography') Read more about the album
            .6u
                section.special
                    a.image.fit(href='/about')
                        img(src='images/JHM_1068-X3.jpg', alt='')
                    h3 Media
                    ul.actions
                        li
                            a.button.alt(href='/about#') Go here to hear us!


include footer
