doctype html

html
    head
        title Værbitt band
        | &#x9;&#x9;
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        | &#x9;&#x9;
        meta(name='description', content='')
        | &#x9;&#x9;
        meta(name='keywords', content='')
        //if lte IE 8
          script(src='js/html5shiv.js')
        | &#x9;&#x9;
        script(src='javascripts/jquery.min.js')
        | &#x9;&#x9;
        script(src='javascripts/skel.min.js')
        | &#x9;&#x9;
        script(src='javascripts/skel-layers.min.js')
        | &#x9;&#x9;
        script(src='javascripts/init.js')
        | &#x9;&#x9;
        noscript
            link(rel='stylesheet', href='stylesheets/skel.css')
            | &#x9;&#x9;&#x9;
            link(rel='stylesheet', href='stylesheets/style.css')
            | &#x9;&#x9;&#x9;
            link(rel='stylesheet', href='stylesheets/style-xlarge.css')
    | &#x9;
    body#top
        // Header
        header#header.skel-layers-fixed
            h1
                a(href='#') Menu
            | &#x9;&#x9;&#x9;&#x9;
            nav#nav
                ul
                    li
                        a(href='index.html') About
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                        a(href='left-sidebar.html') Concerts
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                        a(href='right-sidebar.html') Discography
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                        a.button.special(href='#') Contact
        // Banner
        section#banner
            .inner
                h2 Værbitt
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                p A new metal band from Norway
        // Two
        section#two.wrapper.style2
            header.major
                h2 Værbitts is releasing a new album
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                p It&apos;s called &quot;Frost&quot;. Or &quot;Vann&quot;. Or &quot;M&oslash;rke&quot;.
            | &#x9;&#x9;&#x9;&#x9;
            .container
                .row
                    .6u
                        section.special
                            a.image.fit(href='#')
                                img(src='images/pic01.jpg', alt='')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h3 Værbitt likes nature
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            p This is a picture of Stein, one of the members of the band, walking on some wood
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            ul.actions
                                li
                                    a.button.alt(href='#') Read more about Stein and his hikes
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .6u
                        section.special
                            a.image.fit(href='#')
                                img(src='images/pic02.jpg', alt='')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h3 Eirik from behind
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            p Eirik likes to wear hoodies.
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            ul.actions
                                li
                                    a.button.alt(href='#') Read more about Eirik
        // Footer
        footer#footer
            .container
                .row.double
                    .6u
                        .row.collapse-at-2
                            .6u
                                h3 News
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                ul.alt
                                    li
                                        a(href='#') We just released an album!
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    li
                                        a(href='#') Værbitt in the studio
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    li
                                        a(href='#') Værbitt will create a new album
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    li
                                        a(href='#') Værbitt is now a band
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .6u
                        h2 About værbitt
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        p
                            | Værbitt is a new up and coming metal band from Bergen, Norway. Værbitt er et relativt nytt band fra Bergen, og spiller ekstremmetall inspirert av band som Wolves in the Throne Room, Emperor, Weakling, Burzum, Enslaved og Isis. Elementer fra klassisk svartmetall blandes med inspirasjon fra postrock og doom, og danner storsl&aring;tte musikalske landskap med m&oslash;rk, kald og tung stemning. Den norske naturen st&aring;r sentralt i inspirasjonen og tekstene, og Værbitts l&aring;ter f&aring;r deg til &aring; f&oslash;le deg liten og forgjengelig.
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        ul.icons
                            li
                                a.icon.fa-facebook(href='#')
                                    span.label Facebook |

                            li
                                a.icon.fa-facebook(href='#')
                                    span.label Soundcloud
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                ul.copyright
                    li &copy; Værbitt. All rights reserved.
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                        | Design:
                        a(href='http://templated.co') TEMPLATED
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                        | Images:
                        a(href='http://unsplash.com') Unsplash
