doctype html

html
    head
        title Værbitt band
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(name='description', content='')
        meta(name='keywords', content='')
        //if lte IE 8
          script(src='js/html5shiv.js')
        script(src='javascripts/jquery.min.js')
        script(src='javascripts/skel.min.js')
        script(src='javascripts/skel-layers.min.js')
        script(src='javascripts/init.js')
        noscript
            link(rel='stylesheet', href='stylesheets/skel.css')
            link(rel='stylesheet', href='stylesheets/style.css')
            link(rel='stylesheet', href='stylesheets/style-xlarge.css')
    body#top
        // Header
        header#header.skel-layers-fixed
            h1
                a(href='/') Menu
            nav#nav
                ul
                    li
                        a(href='/') News
                    li
                        a(href='/about') About
                    li
                        a(href='/concerts') Concerts
                    li
                        a(href='/media') Media
                    li
                        a.button.special(href='/contact') Contact