include layout
section#two.wrapper.style2
    header.major
      h2 Værbitts first studio album is released
      .container
        section.special
          p Our debut album "Tid" is now officially released. Check the media session for a taste of the album.
          p Værbitt is also available on <a href="https://vaerbitt.bandcamp.com/releases">Band Camp</a>. You can listen - and download the entire album. You pick the price!
          p We are also available on <a href="https://open.spotify.com/album/5LIFK1htwQOsiYz25EZHwZ">Spotify</a>.
          p If you want to know more Værbitt updates, please check out our <a href="https://www.facebook.com/vaerbittband">facebook</a> page and our <a href="https://www.instagram.com/vaerbittband/">instagram</a> account.

    header.major
        h2 New web page!
        p We have a new web page!
    .container
        section.special
            p What more can you say? We are pretty proud.

include footer

                              
