include layout
section#two.wrapper.style2
    header.major
        h2 New web page!
        p We have a new web page!
    .container
        section.special
            p What more can you say? We are pretty proud.

include footer

                              